@use '../variables' as *;
@use '../mixins' as *;

.advantages-text-block {
    text-align: left;
    gap: 42px;
    position: relative;
    top: 5vh;
    margin-left: 15vw;
    max-width: 100%;
    



    @include text-block(546px, 210px, #fff, #fff);

    &__title {
        line-height: 100%;

        @include respond-to('xxl') {
            font-size: 40px;
        }
    }

    &__advantages-blocks {

        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "first second second third";
        justify-content: space-between;
        gap: 30px;
        justify-items: center;

        @include respond-to('xxl') {
            margin-right: 15vw;
        }

        @include respond-to('xxl') {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
                "first third"
                "second second";
        }



        &__advantage-first {
            background: #fff;
            border-radius: 40px;
            padding: 20px;
            grid-area: first;
            align-items: baseline;
            gap: 10px;
            padding: 15px;


            &__img {
                grid-area: image;
                align-self: start;
            }

            img {
                max-width: 40px;
                /* Размер изображения */
                height: 40px;
                display: block;
                padding: 15px;
            }



            &__title {
                grid-area: title;
                grid-column: 1 / -1;

                /* Текст на всю ширину */
            }
        }

        &__advantage-second {
            background: #fff;
            border-radius: 40px;
            padding: 20px;
            grid-area: second;
            align-items: baseline;
            gap: 10px;
            padding: 15px;

            &__img {
                grid-area: image;
                align-self: start;
            }

            img {
                max-width: 40px;
                /* Размер изображения */
                height: 40px;
                display: block;
                padding: 15px;
            }



            &__title {
                grid-area: title;
                grid-column: 1 / -1;

                /* Текст на всю ширину */
            }
        }

        &__advantage-third {
            background: #fff;
            border-radius: 40px;
            padding: 20px;
            grid-area: third;
            align-items: baseline;
            gap: 10px;
            padding: 15px;

            &__img {
                grid-area: image;
                align-self: start;
            }

            img {
                max-width: 40px;
                /* Размер изображения */
                height: 40px;
                display: block;
                padding: 15px;
            }



            &__title {
                grid-area: title;
                grid-column: 1 / -1;

                /* Текст на всю ширину */
            }
        }





    }
}

.ledies {
    max-width: 100%;
    position: absolute;

    &__ledy1 {
        position: absolute;
        top: 77px;
        left: 1050px;
        z-index: 2;
    }

    &__ledy2 {
        position: absolute;
        top: 77px;
        left: 1165px;
        z-index: 2;
    }

    @include respond-to('xxl2') {
        &__ledy1 {
            left: 750px;
        }

        &__ledy2 {
            left: 865px;
        }
    }

    @include respond-to('xxl') {
        display: none;
    }
}