@use '../variables' as *;
@use '../mixins' as *;

.advantages-text-block {
    text-align: left;
    gap: 42px;
    position: relative;
    top: 5vh;
    margin-left: 15vw;
    max-width: 100%;




    @include text-block(546px, 210px, #fff, #fff);

    &__title {
        line-height: 100%;

        @include respond-to('xxl') {
            font-size: 40px;
        }
    }

    &__advantages-blocks {

        display: flex;
        justify-items: center;
        gap: 10px;

        @include respond-to('xxl') {
            flex-direction: row;
            flex-wrap: wrap;
        }



        &__advantage-first {
            background: #fff;
            border-radius: 40px;
            align-items: baseline;
            gap: 10px;

            img {
                display: block;
            }

            span {

                position: absolute;
                top: 554px;
                z-index: 1000;
                padding: 5px;

            }
        }

        &__advantage-second {
            background: #fff;
            border-radius: 40px;
            align-items: baseline;
            gap: 10px;
            ;

            img {
                display: block;
            }

            span {
                position: absolute;
                top: 554px;
                z-index: 1000;
                padding: 5px;
            }
        }

        &__advantage-third {
            background: #fff;
            border-radius: 40px;
            align-items: baseline;
            gap: 10px;


            img {
                display: block;
            }

            span {
                position: absolute;
                top: 554px;
                z-index: 1000;
                padding: 5px;
            }
        }





    }
}

.ledies {
    max-width: 100%;
    position: absolute;

    &__ledy1 {
        position: absolute;
        top: 77px;
        left: 1050px;
        z-index: 2;
    }

    &__ledy2 {
        position: absolute;
        top: 77px;
        left: 1165px;
        z-index: 2;
    }

    @include respond-to('xxl2') {
        &__ledy1 {
            left: 800px;
        }

        &__ledy2 {
            left: 915px;
        }
    }

    @include respond-to('xxl') {
        display: none;
    }
}

.bg-advantages {
    position: absolute;
    margin: 0 auto;
    width: 97%;
    margin-left: 1.3vw;
    border-radius: 60px;
    display: flex;
    height: 786px;
    filter: grayscale(1) blur(5px);
    background-attachment: fixed;
    z-index: -1;
}

.mask {
    width: 80%;
    height: 80%;
    position: absolute;
    left: 18vw;
    top: 159px;
    margin-right: 5vw;

    @include respond-to('lg') {
        display: none;
    }
    @include respond-to('xxl2') {
        left: 16vw;
    }

}

.vector {
    z-index: 0;
    position: absolute;
    top: 200px;
    left: 30vw;
}

.adv-img-container {
    position: relative;
    width: 98%;
    height: 786px;
}