@use '../variables' as *;
@use '../mixins' as *;

.contacts {
    margin-left: 15vw;
    margin-right: 15vw;

    height: 90%;


    @include text-block(null, null, #000, #000);

    .blocks {
        display: flex;
        gap: 2vw;
        justify-content: space-between;
        @include respond-to('desktop') {
            flex-direction: column;
            align-items: center;
        }


        .connect {
            background-color: #fff;
            width: 300px;
            height: 493px;
            border-radius: 40px;
            border: 1px solid;
            border-color: #000;
            gap: 0.5px;
            display: flex;
            flex-direction: column;
            padding: 3vh;

            @include respond-to('desktop') {
                width: 70%;
            }

            

            &__title {
                font-size: 32px;
                margin-top: 0;

            }

            .mini-blocks {
                font-size: 16px;
                color: #000;
                display: flex;
                gap: 4vh;
                flex-direction: column;

                .address-block {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    gap: 2vh;
                    color: #1C1C1C;

                }

                .phone-block {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    gap: 2vh;

                    a {
                        text-decoration: none;
                        color: #1C1C1C;
                    }
                }

                .shop-block {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    gap: 2vh;

                    a {
                        text-decoration: none;
                        color: #1C1C1C;
                    }

                }

            }

            &__all-contacts {
                text-decoration: underline dotted;
                text-underline-offset: 10px;
                color: #000;
                font-size: 20px;
                margin-top: 3vh;
            }
        }

        .contact-form {
            background-color: #b5e5fc;
            width: 650px;
            height: 493px;
            border-radius: 40px;
            padding: 24px;

            h2 {
                font-size: 32px;
                margin-bottom: 20px;
                margin-top: 0;
                color: #000;
            }

            .form-group {
                margin-bottom: 20px;
                width: 100%;
                font-size: 16px;
            }

            label {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
            }

            .input-block{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 20px;
            }

            input,
            textarea {
                padding: 10px;
                border: none;
                border-radius: 8px;
                font-size: 16px;
                box-sizing: border-box;
                position: relative;
                z-index: 1;
            }

            textarea {
                width: 100%;
                height: 16vh;
                resize: vertical;
            }

            input {
                width: 100%;
                height: 6vh;
            }

            .consent-text {
                font-weight: 400;
                font-size: 16px;
                color: #737373;
                line-height: 120%;
                letter-spacing: 0%;
                position: relative;
                z-index: 1;

            }

            .phone-input {
                position: relative;
            }

            button {
                height: 5vh;
                margin-top: 2vh;
                margin-bottom: 2vh;
            }



        }

    }

}

.Vector-contacts {
    z-index: 0;
    position: absolute;
    top: 1px;
    left: 307px;
    border-radius: 40px;
}

.con-img-container {
    position: relative;
    width: 98%;
    height: 664px;
}