@use '../variables' as *;
@use '../mixins' as *;

.geography_section {
    margin: 0 auto;
    width: 98%;
    height: 664px;
    border-radius: 60px;
    overflow: hidden;
}

.geography-text-block {
    text-align: left;
    gap: 42px;
    position: relative;
    top: 5vh;
    margin-left: 15vw;


    @include text-block(546px, 210px, #fff, #fff);



    button {
        background-color: transparent;
        border: solid 1px;
        border-color: #fff;
        color: #fff;
        width: 10vw;
        height: 5vh;
        @include hover-effect($section-blue-color);
    }


    &__geography-blocks {
        margin-top: 5vh;
        display: grid;
        width: 27vw;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "first second second third"
            "four five six six"
            "seven seven eight eight";
        gap: 30px;

        .geography-blocks__geo-first {
            grid-area: first;
        }

        .geography-blocks__geo-second {
            grid-area: second;
        }

        .geography-blocks__geo-third {
            grid-area: third;
        }

        .geography-blocks__geo-four {
            grid-area: four;
        }

        .geography-blocks__geo-five {
            grid-area: five;
        }

        .geography-blocks__geo-six {
            grid-area: six;
        }

        .geography-blocks__geo-seven {
            grid-area: seven;
        }

        .geography-blocks__geo-eight {
            grid-area: eight;
        }

        // Общие стили для всех блоков
        [class^="geography-blocks__geo-"] {
            min-height: 30px;
            background: #fff;
            border-radius: 24px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .geography-blocks__img {
            max-width: 8vw;
            height: 5vh;
            display: block;
            padding: 15px;
        }
    }
}

.locations {
    overflow: hidden;

    @include respond-to('xxl') {
        display: none;
    }
}

.location {
    position: absolute;
    z-index: 2;
    top: -44px;
    left: 550px;
}



.geography-fade {
    position: relative;
    width: 80%;
    height: 15%;
    background: linear-gradient(0deg, rgba(50, 98, 172, 1) 0%, rgba(87, 199, 133, 0) 100%);
    top: 570px;
    left: -45%;

    @include respond-to('lg') {
        display: none;
    }

}


.bg-geo {
    position: absolute;
    margin: 0 auto;
    width: 97%;
    margin-left: 1.3vw;
    border-radius: 60px;
    display: flex;
    height: 664px;
    z-index: -1;
    filter: grayscale(1) blur(5px);
}

.Vector-geo {
    position: absolute;
    left: 30vw;
}

.mask-geo {
    width: 70%;
    height: 70%;
    position: absolute;
    top: 208px;
    left: -8vw;

    @include respond-to('lg') {
        display: none;
    }
    @include respond-to('xxl') {
        left: 3vw;
    }
}

.geo-img-container {
    position: relative;
    width: 100%;
    height: 664px;
}