@use '../variables' as *;
@use '../mixins' as *;

.recipe-container {
  height: 757px;
  position: relative;
  margin-left: 15vw;
  margin-right: 15vw;
  z-index: 3;
  background-color: #fff;



  @include text-block(null, null, #000, #000);



  .recipe-swiper {
    width: 50%;
    height: 50%;
    padding: 0 30px;
  }

  .recipe-swiper-wrapper {
    align-items: center;
  }


  .recipe-swiper-slide {
    aspect-ratio: 3/4;

    align-items: center;

    .slide-container {

      margin-top: 5vh;
      width: 13vw;
      height: 40vh;
      

      &:hover {
        transform: scale(1.05);
        border: 1px solid;
        border: none;
        border-radius: 40px;
        -webkit-box-shadow: 0px 0px 10px 14px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 10px 14px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 10px 14px rgba(0, 0, 0, 0.2);
        cursor: pointer;
      }
    }

    &-title {
      position: relative;
      bottom: -10px;
      left: 50%;
      transform: translate(-50%, -20%);
      -ms-transform: translate(-50%, -20%);
      text-align: left;
      padding: 10px 18px;
      transition: all 0.5s linear;

      span {
        font-size: 1.5vw;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: 0%;
        vertical-align: middle;
      }
    }


    &-patterns {
      text-align: left;
      line-height: 30px;
      padding: 10px;
      font-size: 0.8vw;

    }

    &.recipe-swiper-slide-active {
      opacity: 1;
    }
  }

  .recipe-image {
    display: block;
    width: 13vw;
      height: 40vh;
    object-fit: cover;
    position: absolute;
    z-index: -2;
    border-radius: 40px;

    
    mask-size: 100%;
    mask-repeat: no-repeat;
  }


  .recipe-button {

    &-prev,
    &-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      background: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      cursor: pointer;
      z-index: 11;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      border: none;
      outline: none;
      transition: opacity 0.3s ease, visibility 0.3s ease;

      &:hover {
        background: #f5f5f5;
      }


    }

    &-prev {
      left: 5px;
    }

    &-next {
      right: 5px;
    }

    &--disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &--hidden {
      display: none;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; // Нужное количество пикселей
    background-color: #fff; // Цвет заливки
    z-index: 10;
  }

  &::before {
    left: -100%; // Такой же размер как width
  }

  &::after {
    right: -100%; // Такой же размер как width
  }
}