$primary-color: #76B72A;
$secondary-color: #fff;


$section-blue-color: #3262AC;
$section-lightblue-color: #71D2FF;
$section-green-color: #76B72A;
$border-gray-color: #c4c4c4;

$footer-color: #272727;


